*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: darkblue;
    font-size: 1.8rem;
    min-height: 50px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    margin:2px solid black;
}

a{
    text-decoration: none;
    color: beige;
}
ul{
    min-height: 50px;
    list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center; 
   width: 100vw;
   
 }



@media screen and (max-width:530px)
{
    ul{
        flex-direction: column;
        align-items: center;
    }
}

.cards{
    width: 90vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
}

article figure{
    width: 300px;
}

article figure img{
    width: 100%;
    height: 100%;
}

article p{
    font-size: 1.5rem;
    font-style: italic;
}

article button{
    padding: 5px 30px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: bolder;
}
figcaption{
    text-align: center;
}

article{
    transition: all 0.2s;
    box-shadow: 0px 2px 3px rgba(104,104,104);
}

article:hover{
    transform: scale(1.04);
    cursor: pointer;
}

article button:hover{
    cursor: pointer;
    transform: scale(.9);
    background-color: rgb(196, 222, 135);
    color: rgb(91, 91, 238);
    border: 3px solid black;
}

#slider{
    width: 90vw;
    background-color: burlywood;
    margin: auto;
    max-height: 600px;
    border: 2px solid black;
    overflow: hidden;
}

#slider figure{
    display: flex;
    flex-wrap: nowrap;
    /* position: relative; */
    width:50px;
    animation: slide 7s infinite;
    animation-direction: reverse;
    justify-content: space-evenly;
  
}

#slider img{
    width: 85vw;
    height: auto;
}

@keyframes slide{
   0%{
       transform: translateX(400px);
   }
   100%{
    transform: translateX(900px);
}

}

#ssss{
    color: bisque;
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
}